:root {
	--font-family: "Roboto", sans-serf;
	--normal-font: 400;
	--bold-font: 700;
	--bolder-font: 900;
	--bg-color: blue;
	--primary-color: #ffffff;
	--secondary-color: #ff7235;
	--primary-shadow: #8b8eaf;
	--secondary-shadow: #a17a69;
	--bottom-margin: 0.5rem;
	--bottom-margin-2: 1rem;
	--line-height: 1.7rem;
	--transition: 0.3s;
	
   
  }
  
  .more-about h2 {
	margin-bottom: var(--bottom-margin);
	text-align: center;
	color: #a17a69;
  }
  
  .more-about p {
	line-height: var(--line-height);
	padding: 0.4rem;
	color: #a17a69;
  }