:root {
	--font-family: "Roboto", sans-serf;
	--normal-font: 400;
	--bold-font: 700;
	--bolder-font: 900;
	--bg-color: #382a38;
	--primary-color: #ffffff;
	--secondary-color: #ff7235;
	--primary-shadow: #8b8eaf;
	--secondary-shadow: #a17a69;
	--bottom-margin: 0.5rem;
	--bottom-margin-2: 1rem;
	--line-height: 1.7rem;
	--transition: 0.3s;
	
   
  }
